!!!
%html
 %body
  .announce
   .title グループを作成しました
  .wrapper
   .side-var
    .header
     %h3.header__name ユーザー名
     %ul.header__list
      %li
       %a{href:'http://google.co.jp'}
        %i.fa.fa-pencil-square-o
      %li
       %a{href:'http://google.co.jp'}
        %i.fa.fa-cog
    .groups
     = render 'messages/group'
     = render 'messages/group'
     = render 'messages/group'
   .main
    .main__header
     .main__header__left
      .main__header__left--name sampleグループ
      .main__header__left--members Member :メンバーA
     .main__header__right
      = link_to 'Edit','http://google.co.jp'
    .body
     = render 'messages/message'
     = render 'messages/message'
    .footer
     %form(class="main__footer-form")
      %input(placeholder ="type a message" class="type-message")
      .image-icon
       %label{for:"message_image"}
        %i.fa.fa-picture-o
        %input(class ="hidden " type="file" id="message_image")
      %input(type ="submit" value="Send" class= "submit-form")
